button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;

}

h3{
    text-align: center;
}

h2{
    text-align: center;
}

body{
background-color: rgb(rgb(192, 54, 54); 

}

header ul li {
    padding: 20px;
    text-align: center;
    display: inline-block;
    
}